@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(228, 39%, 23%);
}

p {
  color: hsl(227, 12%, 61%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  font-weight: 600;
  border-radius: 1.5rem;
  color: white;
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem 1.5rem;
  }
}
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.tablet {
  position: absolute;
  right: -150px;
  top: -150px;
  z-index: -20;
}

.hero-info {
  padding: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  line-height: 1.6;
}
.hero-info h1 {
  font-size: 30px;
  line-height: 1.3;
}
.hero-info h1 span {
  display: block;
}
.hero-info p {
  padding: 20px 0;
  max-width: 500px;
}

@media (min-width: 768px) {
  .hero {
    min-height: 0;
    height: 800px;
    overflow: hidden;
  }
  .hero-info {
    padding: 50px 20px 50px 50px;
    grid-template-columns: 1fr 1fr;
  }
  .hero-info p {
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  .hero-info h1 {
    font-size: 40px;
  }
  .hero-info h1 span {
    display: block;
  }
}
@media (min-width: 1140px) {
  .hero-info {
    padding: 100px 80px 50px 80px;
  }
}
.nav {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 10px;
}

.links {
  display: flex;
  align-items: center;
}
.links a {
  display: block;
  padding: 1rem;
  color: hsl(228, 39%, 23%);
  font-size: 16px;
}

.desktop {
  display: none;
}

.hero-btn {
  box-shadow: 2px 2px 5px hsl(12, 88%, 59%);
  background-color: hsl(12, 88%, 59%);
  transition: 0.4s;
}

.hero-btn:hover {
  opacity: 0.6;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  top: 80px;
  left: -1000000px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
}

.mobile {
  position: relative;
  height: 50px;
  width: 50px;
}

#close,
#open {
  position: absolute;
  top: 15px;
  right: 15px;
}

#close {
  display: none;
}

.menu {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu ul a {
  display: block;
  padding: 1.3rem;
  color: hsl(227, 12%, 61%);
}

.change {
  left: 0;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-around;
  }
  .desktop {
    display: flex;
  }
  .mobile,
  .mobile-menu {
    display: none;
  }
  .links a {
    padding: 1rem 0.5rem;
  }
}
@media (min-width: 900px) {
  .links a {
    padding: 1rem;
  }
}
.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 30px;
  overflow-x: hidden;
}

.about-tablet {
  position: absolute;
  top: -250px;
  right: -450px;
  z-index: -20;
  overflow: hidden;
}

.about-info h1 {
  margin-bottom: 20px;
}
.about-info p {
  line-height: 1.6;
}

.apart {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.apart-one h1 {
  margin-bottom: 15px;
}

.number {
  display: block;
  margin: 20px 20px 0 0;
  border: none;
  background: hsl(12, 88%, 59%);
  box-shadow: 1px 1px 3px hsl(12, 88%, 59%);
  padding: 5px 5px;
  border-radius: 2rem;
  height: 30px;
  width: 30px;
  color: white;
}

@media (min-width: 500px) {
  .about {
    min-height: 0;
    height: 900px;
  }
}
@media (min-width: 768px) {
  .about {
    height: 820px;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    overflow: hidden;
  }
  .about-tablet {
    top: 250px;
    left: -450px;
  }
  .apart {
    margin: 20px;
  }
}
@media (min-width: 1120px) {
  .about {
    height: 650px;
  }
}
.testimonials {
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials .heading {
  text-align: center;
  padding: 20px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.card-part-one {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: rgb(240, 238, 238);
  padding: 20px;
  max-width: 400px;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
}
.card img {
  height: 80px;
  width: 80px;
}
.card h4 {
  padding: 10px 0;
}
.card p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
  .card {
    max-width: 400px;
    box-shadow: 1px 1px 3px rgb(194, 186, 186);
    height: 250px;
  }
  .cards {
    width: 80%;
  }
}
@media (min-width: 1100px) {
  .cards {
    width: 80%;
  }
}
.simplify {
  width: 100%;
  background-color: hsl(12, 88%, 59%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: 150px;
}
.simplify h1 {
  font-size: 24px;
}

.simplify-btn {
  color: hsl(228, 39%, 23%);
  padding: 0.5rem 1.5rem;
}

@media (min-width: 768px) {
  .simplify {
    padding: 40px;
  }
  .simplify h1 {
    font-size: 32px;
  }
}
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(228, 39%, 23%);
  flex-direction: column;
  color: white;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}

.form input {
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
}
.form button {
  border: none;
  color: white;
  background-color: hsl(12, 88%, 59%);
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: 5px;
}

.social-links img {
  margin: 0 5px;
}

.footer-links {
  display: flex;
  align-items: center;
  margin: 30px 20px;
}

.links-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}
.links-one a {
  display: block;
  padding: 5px;
  color: white;
  font-size: 14px;
}

@media (min-width: 768px) {
  .links-one {
    flex-direction: row;
  }
}
p {
  font-size: 16px;
}

h1 {
  font-size: 1.3rem;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */